/* Login.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

}
.login-img {
  height: 120px;
  display: block;
  margin: 0 auto 20px auto; 
}


.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2c3e50;
}

.login-box input {
  display: block;
  width: 93%;
  padding: 12px 14px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

.login-box input:focus {
  border-color: #3498db;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #2980b9;
}

.login-box p {
  text-align: center;
  margin-top: 16px;
  color: #7f8c8d;
}

.login-box span {
  display: block;
  text-align: center;
  color: #2980b9;
  cursor: pointer;
  font-weight: 500;
  margin-top: 5px;
  transition: color 0.2s ease;
}

.login-box span:hover {
  color: #1c5980;
}
.underline{
  color: #1c5980;
  width: 120px;
  
 
}
