.all-blogs-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.blog-card {
  
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.btns{
  display: flex;
}

.edit-btn {
  background: transparent;
  padding: 6px 12px;

  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dlt-btn{
  border: none;
  color: #e60000;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}







